<mat-toolbar class="toolbar mat-elevation-z6" color="tertiary">
  <div class="toolbar-container">
    <div class="branding">
      <span class="app-name">MedCon</span>
    </div>

    <div class="navigation">
      <button mat-button>Dashboard</button>
      <button mat-button>Patients</button>
      <button mat-button>Appointments</button>
    </div>

    <span class="spacer"></span>

    <div class="actions">
      <button mat-icon-button aria-label="Notifications">
        <mat-icon>notifications</mat-icon>
      </button>

      <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
      </button>

      <mat-menu #userMenu="matMenu" class="user-menu">
        <div class="user-info">
          <h3>Dr. Ahmad</h3>
          <p>Cardiologist</p>
        </div>
        <mat-divider></mat-divider>
        <a mat-menu-item routerLink="/profile">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </a>
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
