// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

@use "styles/material-overrides";

html,
body {
  height: 100%;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
